/* style.css */
body{
  text-align: center;
  background: #B1C0E0;
  font-size: 100%;
  font-family: Opensans;
}

h1{
font-family: Signika-Semibold;
font-size: 3.5rem;
color: #003549;
letter-spacing: -0.44px;
line-height: 56px;
text-decoration: underline white;
}

#header{
  text-align: center;
  padding: 50px 0px 50px 0px;
  color: white;
}

#footer{
  font-size: 2rem;
  text-align: center;
  color: white;
}

.card{
  display: block;
  position: relative;
  z-index: 2;
  padding: 10px 0px 0px 0px;
}

.center{
  display: block;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0px;
  width: 50%;
}

.footer_text{
padding: 60px;

}

#footer a {
  color: #879FCF;
  font-size: 2.5rem;
}

#footer a:hover {
  color: white;
}
